# Ambiente virtual
venv/

# Arquivos de configuração e ambiente
.env
*.env

# Cache do Python
__pycache__/
*.pyc

# Uploads e resultados temporários
src/static/uploads/

# Arquivos temporários de editor
*.swp
*.swo

# Outros
.DS_Store
